#preloader {
	background-color: #f6f6f6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alignment {
	text-align: center;
}
.preloader-container {
	margin-bottom: 140px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.basketball-icon {
	color: #ff7f00;
	transform-origin: center bottom;
	animation: basketballBounce 0.75s ease-in-out infinite;
}

@keyframes basketballBounce {
	0%, 100% {
		transform: translateY(0) scale(1, 1);
		animation-timing-function: ease-in;
	}
	45% {
		transform: translateY(120px) scale(1, 1);
		animation-timing-function: linear;
	}
	50% {
		transform: translateY(120px) scale(1.2, 0.8);
		animation-timing-function: linear;
	}
	55% {
		transform: translateY(120px) scale(1, 1);
		animation-timing-function: ease-out;
	}
}

.loading-text {
	font-family: pacificoregular;
	font-size: 20px;
	color: #333;
	display: inline-block;
}
.loading-dots {
    display: inline-block;
    width: 20px; /* Adjust as needed */
    text-align: left;
}

.loading-dots::after {
    content: '';
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
}